@font-face {
    font-family: "Conv_Dense-Regular";
    src: url("/fonts/Dense-Regular.eot");
    src: local("â˜º"), url("/fonts/Dense-Regular.woff") format("woff"), url("/fonts/Dense-Regular.ttf") format("truetype"), url("/fonts/Dense-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 1700px), (max-height: 1700px) { html { font-size: 188%; } }
@media (max-width: 1700px), (max-height: 1700px) { html { font-size: 188%; } }
@media (max-width: 1680px), (max-height: 1680px) { html { font-size: 186%; } }
@media (max-width: 1660px), (max-height: 1660px) { html { font-size: 184%; } }
@media (max-width: 1640px), (max-height: 1640px) { html { font-size: 182%; } }
@media (max-width: 1620px), (max-height: 1620px) { html { font-size: 180%; } }
@media (max-width: 1600px), (max-height: 1600px) { html { font-size: 178%; } }
@media (max-width: 1580px), (max-height: 1580px) { html { font-size: 176%; } }
@media (max-width: 1560px), (max-height: 1560px) { html { font-size: 174%; } }
@media (max-width: 1540px), (max-height: 1540px) { html { font-size: 172%; } }
@media (max-width: 1520px), (max-height: 1520px) { html { font-size: 170%; } }
@media (max-width: 1500px), (max-height: 1500px) { html { font-size: 168%; } }
@media (max-width: 1480px), (max-height: 1480px) { html { font-size: 166%; } }
@media (max-width: 1460px), (max-height: 1460px) { html { font-size: 164%; } }
@media (max-width: 1440px), (max-height: 1440px) { html { font-size: 162%; } }
@media (max-width: 1420px), (max-height: 1420px) { html { font-size: 160%; } }
@media (max-width: 1400px), (max-height: 1400px) { html { font-size: 158%; } }
@media (max-width: 1380px), (max-height: 1380px) { html { font-size: 156%; } }
@media (max-width: 1360px), (max-height: 1360px) { html { font-size: 154%; } }
@media (max-width: 1340px), (max-height: 1340px) { html { font-size: 152%; } }
@media (max-width: 1320px), (max-height: 1320px) { html { font-size: 150%; } }
@media (max-width: 1300px), (max-height: 1300px) { html { font-size: 148%; } }
@media (max-width: 1280px), (max-height: 1280px) { html { font-size: 146%; } }
@media (max-width: 1260px), (max-height: 1260px) { html { font-size: 144%; } }
@media (max-width: 1240px), (max-height: 1240px) { html { font-size: 142%; } }
@media (max-width: 1220px), (max-height: 1220px) { html { font-size: 140%; } }
@media (max-width: 1200px), (max-height: 1200px) { html { font-size: 138%; } }
@media (max-width: 1180px), (max-height: 1180px) { html { font-size: 136%; } }
@media (max-width: 1160px), (max-height: 1160px) { html { font-size: 134%; } }
@media (max-width: 1140px), (max-height: 1140px) { html { font-size: 132%; } }
@media (max-width: 1120px), (max-height: 1120px) { html { font-size: 130%; } }
@media (max-width: 1100px), (max-height: 1100px) { html { font-size: 128%; } }
@media (max-width: 1080px), (max-height: 1080px) { html { font-size: 126%; } }
@media (max-width: 1060px), (max-height: 1060px) { html { font-size: 124%; } }
@media (max-width: 1040px), (max-height: 1040px) { html { font-size: 122%; } }
@media (max-width: 1020px), (max-height: 1020px) { html { font-size: 120%; } }
@media (max-width: 1000px), (max-height: 1000px) { html { font-size: 118%; } }
@media (max-width: 980px), (max-height: 980px) { html { font-size: 116%; } }
@media (max-width: 960px), (max-height: 960px) { html { font-size: 114%; } }
@media (max-width: 940px), (max-height: 940px) { html { font-size: 112%; } }
@media (max-width: 920px), (max-height: 920px) { html { font-size: 110%; } }
@media (max-width: 900px), (max-height: 900px) { html { font-size: 108%; } }
@media (max-width: 880px), (max-height: 880px) { html { font-size: 106%; } }
@media (max-width: 860px), (max-height: 860px) { html { font-size: 104%; } }
@media (max-width: 840px), (max-height: 840px) { html { font-size: 102%; } }
@media (max-width: 820px), (max-height: 820px) { html { font-size: 100%; } }
@media (max-width: 800px), (max-height: 800px) { html { font-size: 98%; } }
@media (max-width: 780px), (max-height: 780px) { html { font-size: 96%; } }
@media (max-width: 760px), (max-height: 760px) { html { font-size: 94%; } }
@media (max-width: 740px), (max-height: 740px) { html { font-size: 92%; } }
@media (max-width: 720px), (max-height: 720px) { html { font-size: 90%; } }
@media (max-width: 700px), (max-height: 700px) { html { font-size: 88%; } }
@media (max-width: 680px), (max-height: 680px) { html { font-size: 86%; } }
@media (max-width: 660px), (max-height: 660px) { html { font-size: 84%; } }
@media (max-width: 640px), (max-height: 640px) { html { font-size: 82%; } }
@media (max-width: 620px), (max-height: 620px) { html { font-size: 80%; } }
@media (max-width: 600px), (max-height: 600px) { html { font-size: 78%; } }
@media (max-width: 580px), (max-height: 580px) { html { font-size: 76%; } }
@media (max-width: 560px), (max-height: 560px) { html { font-size: 74%; } }
@media (max-width: 540px), (max-height: 540px) { html { font-size: 72%; } }
@media (max-width: 520px), (max-height: 520px) { html { font-size: 70%; } }
@media (max-width: 500px), (max-height: 500px) { html { font-size: 68%; } }
@media (max-width: 480px), (max-height: 480px) { html { font-size: 66%; } }
@media (max-width: 460px), (max-height: 460px) { html { font-size: 64%; } }
@media (max-width: 440px), (max-height: 440px) { html { font-size: 62%; } }
@media (max-width: 420px), (max-height: 420px) { html { font-size: 60%; } }
@media (max-width: 400px), (max-height: 400px) { html { font-size: 58%; } }
@media (max-width: 380px), (max-height: 380px) { html { font-size: 56%; } }
@media (max-width: 360px), (max-height: 360px) { html { font-size: 54%; } }
@media (max-width: 340px), (max-height: 340px) { html { font-size: 52%; } }
@media (max-width: 320px), (max-height: 320px) { html { font-size: 50%; } }

body {
    font-family: "Conv_Dense-Regular", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    color: #fff;
}

html, body {
    overflow: hidden;
    background: #000;
    margin: 0;
    height: 100%;
    width: 100%;
    -webkit-user-select: none;
}

@-webkit-keyframes party-base-hue-rotate {
    0% {
        -webkit-filter: sepia(1) hue-rotate(0deg);
    }
    100% {
        -webkit-filter: sepia(1) hue-rotate(360deg);
    }
}

h1 {
    font-size: 2.5em;
    margin: 3px 0 .25em;
}

p {
    font-size: 1.5em;
    margin: 0 0 1em;
}

.button {
    color: #fff;
    display: inline-block;
    background: rgba(255, 255, 255, 0.5);
    padding: .35em .6em;
    margin: .25em;
    text-decoration: none;
}

.button.secondary {
    background: transparent;
    border: .1em solid rgba(255, 255, 255, 0.5);
    padding: .25em .5em;
}